<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html">Blog</a></li>
        <li><a href="{{ site.baseurl }}projects.html">Photo Gallery</a></li>
        <li><a href="{{ site.baseurl }}miscellaneous.html">miscellaneous</a></li>
        <li><a href="{{ site.baseurl }}field.html">field</a></li>
        <li><a href="{{ site.baseurl }}woods.html">woods</a></li>
        <li><a href="{{ site.baseurl }}shed.html">shed</a></li>
        <li><a href="{{ site.baseurl }}overview.html">overview</a></li>
        <li><a href="{{ site.baseurl }}outhouse.html">outhouse</a></li>
        <li><a href="{{ site.baseurl }}barn.html">barn</a></li>
        <li><a href="{{ site.baseurl }}swamp.html">swamp</a></li>
        <li><a href="{{ site.baseurl }}abandoned_house.html">abandoned house</a></li>
        <li><a href="{{ site.baseurl }}hunting_cabin.html">hunting cabin</a></li>
        <li><a href="{{site.baseurl }}contact_info.html">Contact info</a></li>
      </ul>
    </div>
  </div>
</nav>
